@import "tailwindcss";

.swiper-button-next,
.swiper-button-prev {
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  color: white !important; /* !important untuk menimpa style bawaan */
  border-radius: 50%;
  width: 40px !important;
  height: 40px !important;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 16px !important;
}

@media (min-width: 768px) {
  .swiper-button-next,
  .swiper-button-prev {
    display: flex;
  }
}

.swiper {
  overflow: visible !important; /* Allow pop-out */
  z-index: 9999;
}

.swiper-wrapper {
  z-index: 1; /* Ensure wrapper context is handled */
}

.swiper-slide {
  position: relative;
  z-index: 1;
}

.swiper-slide:hover {
  z-index: 50 !important; /* Force hover state on top */
}

@media screen and (max-width: 768px) {
  .swiper-slide:hover {
    z-index: 50 !important; /* Force hover state on top */
  }
}
